<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Crear un nuevo Cliente</title>
	<style>
		h1 {
			font-size: 5em;
		}

		h2 {
			text-decoration: underline;
			font-size: 3em;
		}

		th {
			font-size: 2em;
		}
	</style>
</head>

<body bgcolor="orange">
	<div align="center">
		<h1>
			<font color="blue">
				Tienda Ropita
			</font>
		</h1>
		<main>
			<h2>
				<p>Crear un nuevo Cliente</p>
			</h2>
		</main>
	</div>
	<br />

	<div align="center">
		<table>
			<tbody>
				<tr>
					<th><a href="/tienda">Volver al menú pricipal</a></th>
					<th>&nbsp;</th>
					<th><a href="/tienda/clientes/list">Atrás</a></th>
				</tr>
			</tbody>
		</table>
		<br />
		<form action="#" th:action="@{/tienda/clientes/save}" th:object="${cliente}" method="post">

			<table border="0" cellpadding="10">
				<tr>
					<td>Nombre:</td>
					<td><input type="text" th:field="*{nombre}" /></td>
				</tr>
				<tr>
					<td>Apellido:</td>
					<td><input type="text" th:field="*{apellido}" /></td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Grabar</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>

</html>