<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Home</title>
	<title>Tienda Ropita</title>
	<style>
		p {
			text-decoration: underline;
		}

		;
	</style>
</head>

<body bgcolor="orange">
	<div align="center">
		<h1>
			<font color="blue">
				Tienda Ropita
			</font>
		</h1>
		<main>
			<h2>
				<p>Menú Principal</p>
			</h2>
		</main>
	</div>
	<br />

	<div align="left">
		<ul>
			<li><a href="/tienda/prendas/list">Listado de prendas</a></li>
			<li><a href="/tienda/clientes/list">Listado de clientes</a></li>
			<li><a href="/tienda/ventas/list">Listado de ventas</a></li>
		</ul>
		<br />
	</div>
	<div align="center">
		<h3>
			<font color="grey">TP Final Diseño de Sistemas</font>
		</h3>
		<h4>
			<font color="grey">Docente: Francisco Montero</font>
		</h4>
		<h5>
			<font color="grey">Grupo 9: Ignacio Esses, Maximiliano Príncipe, Rodrigo Miliano</font>
		</h5>
		<footer>
			<font color="grey">Escuela de Arte y Multimedia Da Vinci</font>
		</footer>
	</div>
</body>

</html>