<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Crea nueva venta Tarjeta de Crédito</title>
	<style>
		h1 {
			font-size: 5em;
		}

		h2 {
			text-decoration: underline;
			font-size: 3em;
		}

		th {
			font-size: 2em;
		}
	</style>
</head>

<body bgcolor="orange">
	<div align="center">
		<h1>
			<font color="blue">
				Tienda Ropita
			</font>
		</h1>
		<main>
			<h2>
				<p>Crear nueva venta tarjeta de crédito</p>
			</h2>
		</main>
	</div>
	<br />

	<div align="center">
		<table>
			<tbody>
				<tr>
					<th><a href="/tienda">Volver al menú pricipal</a></th>
					<th>&nbsp;</th>
					<th><a href="/tienda/ventas/list">Atrás</a></th>
				</tr>
			</tbody>
		</table>
		<br />
		<form action="#" th:action="@{/tienda/ventas/tarjeta/save}" th:object="${venta}" method="post">

			<table border="0" cellpadding="10">
				<tr>
					<td>Cliente:</td>
					<td th:object="${cliente}">
						<select id="cliente" name="cliente">
							<option value="">Elija un cliente</option>
							<option th:each="cliente : ${cliente}" th:value="${cliente.id}"
								th:text="${cliente.getRazonSocial}">
							</option>
						</select>
					</td>


				</tr>
				<tr>

					<td>Cuotas:</td>
					<td><input type="text" th:field="*{cantidadCuotas}" /></td>



				</tr>
				<td colspan="2"><button type="submit">Grabar</button></td>
			</table>
		</form>
	</div>
</body>

</html>